---
layout: "application"
title: "Home"
---

<section class="container page-content" >
    <hr class="vertical-space2">
    <section class="twelve columns portfolio-item offset-by-two">
      <article>
        <h4 class="subtitle">A LITTLE ABOUT ME</h4>
        <h3>Creative, collaborative, passionate, driven.</h3>
        <p class="blog-inpic lead"><img src="img/erica.jpg" alt=""> <h4>My areas of expertise and interest are; strategic planning, community outreach, marketing, communications, internet technology, program management, and storytelling.</br>
        <h4>I do my best work when collaborating with others. I bring creativity and an interdisciplinary, community-minded approach to my work.</h4></p>
          <div>
              <h4>Find me</h4>
            <div class="one columns alpha" >
              <a href="img/erica_lauer_vose_resume.pdf" target="_blank" alt="Resume">Resume </a>
            </div>
            <div class="one columns blog-q" >
              <a href="http://www.linkedin.com/profile/view?id=69116290&trk=nav_responsive_tab_profile">LinkedIn </a>
            </div>
            <div class="one columns blog-q" >
              <a href="https://twitter.com/ELauerVose">Twitter </a>
            </div>
            <div class="one columns blog-q" >
              <a href="https://github.com/elauervose">GitHub </a>
            </div>
                  </div>
          <br class="clear" />
          <hr class="vertical-space">
          <div class="six columns">
            <h4>Penatibus et magnis dis parturient montes consectetuer adipiscing</h4>
            <p>Adipiscing elit commodo ligula eget dolor Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor Cum sociis natoque penatibus et magnis dis parturient montes. Lorem ipsum dolor sit amet nec penatibus et magnis dis parturient montes.</p>
          </div>
          <div class="four columns blog-q" > <br>
            <p><em>Cum sociis natoque penatibus et magnis dis parturient montes. dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.<br>
              Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit</em> </p>
          </div>
      </article>
    </section>
    <hr class="vertical-space2">
  </section>
  <!-- container -->



