---
layout: "inner-with-sidebar"
title: "Code for Portland"
description: "This is the short description. Maecenas sed justo varius velit imperdiet bibendum. Vivamus nec sapien massa, a imperdiet diam."
date: "Current"
tags:
  - Tech
  - Community
project_links:
  - {title: "Code for Portland", url: "#"}
  - {title: "Github", url: "#"}
  - {title: "Portland Wiki CfP Projects", url: "#"}
  - {title: "CivicApps", url: "#"}
---


<p>
  <img src="/img/code_for_portland.png" alt=""><br>
  <%= lorem.sentences 8 %>
</p>

<div class="six columns alpha">
  <br>
  <h4>Penatibus et magnis dis parturient montes consectetuer adipiscing</h4>
  <p>Adipiscing elit commodo ligula eget dolor Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor Cum sociis natoque penatibus et magnis dis parturient montes. Lorem ipsum dolor sit amet nec penatibus et magnis dis parturient montes.</p>
</div>


<div class="four columns blog-q" >
  <blockquote>
    <em>Cum sociis natoque penatibus et magnis dis parturient montes. dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.<br>
    Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit</em>
  </blockquote>
</div>

<br class="clear" />
<p class="blog-inpic">
  <img src="images/portfo/port1.jpg" alt=""> Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.<br>
  Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes. Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula commodo.
</p>



