<section id="hero" class="tbg1">
      <div id="layerslider-container-fw">
        <div id="layerslider" style="width: 100%; height: 436px; margin: 0px auto; ">

          <div class="ls-layer" style="slidedirection: top; slidedelay: 6000; durationin: 1500; durationout: 1500; delayout: 500;">

           <img src="img/slide-pics/summer_day.jpg" class="ls-bg" alt="">

      <!-- <img src="img/slide-pics/erica.jpg" class="ls-s6" alt="" style="top: 134px; left: 30px;  slidedirection : bottom; slideoutdirection : bottom; durationin : 1500; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 600;"> -->
      <!-- <img src="img/slide-pics/slide1-pic2.png" class="ls-s6" alt="" style="top: 36px; left: 190px;  slidedirection : bottom; slideoutdirection : bottom; durationin : 1500; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 1000;"> -->
           <h1 class="ls-s3" style="position: absolute; top:40px; left: 600px; slidedirection : top; slideoutdirection : top; durationin : 1000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 1000;">Community+<br><span><h2>Technology Education</h2></span></h1>

            <h4 class="ls-s3 l1-s1 highlight-header" style="position: absolute; top:150px; left: 600px; slidedirection : bottom; slideoutdirection : bottom; durationin : 1500; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 1000;">Empowering organizations and individuals to transform their world</h4>

          </div>

          <!-- <div class="ls-layer" style="slidedirection: right; slidedelay: 5000; durationin: 1500; durationout: 1500;">

           <img src="img/slide-pics/slide2-bg.jpg" class="ls-bg" alt="">

           <h1 class="ls-s3" style="position: absolute; font-family:Arial; top:114px; left: 30px; slidedirection : right; slideoutdirection : left; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 400;">clean Design</h1>

           <h4 class="ls-s3 l1-s1" style="position: absolute; top:189px; left: 30px; border-color:#fff; slidedirection : bottom; slideoutdirection : left; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 500;">Minimal, spacious and easy to read</h4>


           <a class="button green ls-s8" href="#" style="position: absolute; top:276px; left: 30px; slidedirection : bottom; slideoutdirection : bottom; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 600;">Purchase Now</a>

         </div> -->


         <!-- <div class="ls-layer" style="slidedirection: right; slideoutdirection : top; slidedelay: 5000; durationin: 1500; durationout: 1500; delayout: 500;">

           <img src="img/slide-pics/slide3-bg.jpg" class="ls-bg" alt="">

           <img src="img/slide-pics/slide3-pic1.png" class="ls-s6" alt="" style="top: 28px; left: 20px;  slidedirection : fade; slideoutdirection : fade; durationin : 1500; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 500;">

           <h1 class="ls-s3" style="position: absolute; top:120px; left: 700px; color:#fff; slidedirection : top; slideoutdirection : top; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 600;">EASY TO USE</h1>

           <h4 class="ls-s3 l1-s1" style="position: absolute; top:196px; left: 700px; color:#fff; border-color:#fff; slidedirection : bottom; slideoutdirection : bottom; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 700;">Every element is cohesive and intentional</h4>

           <a class="button skyblue ls-s8" href="#" style="position: absolute; top:284px; left: 700px; slidedirection : bottom; slideoutdirection : bottom; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 800;">Purchase Now</a>


         </div> -->

         <!-- <div class="ls-layer" style="slidedirection: top; slideoutdirection : top; slidedelay: 5000; durationin: 1500; durationout: 1500; delayout: 500;">

           <img src="img/slide-pics/slide4-bg.jpg" class="ls-bg" alt="">

           <img src="img/slide-pics/slide4-pic1.png" class="ls-s6" alt="" style="top: 28px; left: 640px;  slidedirection : bottom; slideoutdirection : bottom; durationin : 1500; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 300;">

           <h1 class="ls-s3" style="position: absolute; top:120px; left: 30px;  slidedirection : top; slideoutdirection : top; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 500;">RETINA READY</h1>

           <h4 class="ls-s3 l1-s1" style="position: absolute; top:198px; left: 30px;  slidedirection : bottom; slideoutdirection : bottom; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInBack; delayin : 600;">Looks beautiful on smarthpones and tablets</h4>

           <a class="button skyblue ls-s8" href="#" style="position: absolute; top:286px; left: 30px; slidedirection : bottom; slideoutdirection : bottom; durationin : 3000; durationout : 750; easingin : easeInOutQuint; easingout : easeInOutQuint; delayin : 700;">Purchase Now</a>


         </div> -->


       </div>
      </div>
    </section>
   <!-- end-hero-->



<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="container marketing">
  <div class="row marketing" id="about">
    <br>
    <br>
    <div class="span2 offset1 add-space">
    <br>
      <img class="img-circle" data-src="js/holder.js/140x140" alt="140x140" style="width: 140px; height: 140px;" src="img/erica.jpg">
      <br>
      <br>
      <p><em>“You are only limited by your own imagination”</em><br>
          <a href= "http://piddlypoems.blogspot.com/" target="_blank">~ Benny Bellamacina</a></p>
    </div>
    <div class="span5 add-space">
      <h2>About Me</h2>
          <!-- <p>I believe in the power of stories to move hearts and minds and transform communities and I believe in the power of communities to transform the world.</p> -->
          <p>There is nothing I love more than a juicy, interesting challenge I can dive into. I do my best work when collaborating with others and am able to bring creativity and an interdisciplinary, community-minded approach to the work.</p>
          <p>I believe in the communities I serve and the work I do. I am passionate and driven to succeed because I know that when any one of us is better, we are all better.</p>
          <p>My areas of expertise and interest are; strategic planning, community outreach, marketing, communications, internet technology, program management, and storytelling.</p>
    </div>
    <div class="span2 add-space">
      <br>
      <br>
      <h4>Email</h4>
      <p>elauervose@gmail.com</p>

      <h4>Phone</h4>
      <p>503.432.1718</p>
      <h4><a href="img/erica_lauer_vose_resume.pdf" target="_blank">Resume</a></h4>
    </div>
    <div class="span2 add-space" style="text-align:center;">
      <br>
      <br>
      <a href="https://twitter.com/ELauerVose"><img class="img-circle" data-src="js/holder.js/60x60" alt="60x60" style="width: 60px; height: 60px;" src="img/twitter.png"></a>
      <br>
      <br>
      <a href="http://www.linkedin.com/profile/view?id=69116290&trk=nav_responsive_tab_profile"><img class="img-circle" data-src="js/holder.js/60x60" alt="60x60" style="width: 60px; height: 60px;" src="img/linkedin.jpg"></a>
      <br>
      <br>
      <a href="https://github.com/elauervose"><img class="img-circle" data-src="js/holder.js/60x60" alt="60x60" style="width: 60px; height: 60px;" src="img/github.png"></a>
    </div>
  </div><!-- About me -->
  <br>
  <br>
  <br>
  <hr>
