---
layout: "inner-with-sidebar"
title: "Olympia Historical Society"
description: "An oral history book about the life and times of Winnifred Olson"
---


<img src="img/oral_history-wide.jpg">
    <h3>Olympia Historical Society, Oral History, 2006</h3>
    <p class="lead">I conducted a life history of 80 year old, life-long resident of Olympia, Washington Winnifred Olsen.  Six separate interviews were recorded, transcribed, edited, and compiled into a book published by the Olympia Historical Society. </p>

    <p class="lead blog-inpic"><img src="img/oral_history.jpg">The book can be found at the Washington State library, the University of Washington Library, and the Regional Library.</p>
      <em><strong><h4>Winnifred Olsen; You’re Making History Now.</h4></strong></em>Edited by Erica Stillman and Lois Fenske.  Olympia: Olympia Historical Society, 2006. <a href="http://www.worldcat.org/title/youre-making-history-now/oclc/71817993" target="_blank">Find the Book »</a></p>
  </div><!-- Oral history -->

