---
layout: "inner"
title: "Portfolio"
---

<hr class="vertical-space1">
<nav class="primary clearfix">
  <ul>
    <li><a href="#" class="selected" data-filter="*">All</a></li>
    <li><a class="" href="#" data-filter=".tech-ed">Tech Education</a></li>
    <li><a class="" href="#" data-filter=".nonprofit">Nonprofit</a></li>
    <li><a class="" href="#" data-filter=".community">Community</a></li>
    <!-- <li><a class="" href="#" data-filter=".print">Print </a></li> -->
  </ul>
</nav>

<div class="portfolio">

 <figure class="portfolio-item eight columns tech-ed">
    <div class="img-item tooltips"> <img style="padding-top: 64px; padding-bottom: 20px;" src="/img/code_for_portland.png" alt=""><span class="zoomex2"><h6>Code for Portland</h6><a href="/img/code_for_portland.png"  rel="help" title="Zoom" class="prettyPhoto zoomlink1" ><i class="icomoon-plus"></i></a><a href="cfp-project.html" rel="help" title="Go to Page" class="zoomlink2" ><i class="icomoon-arrow-right-5"></i></a></span> </div>
    <figcaption><h4><a href="portfolio-item.html">Code for Portland</a> </h4>
    <p>10 MAY 2013 - <a href="#" >Tech Education</a>, <a href="#" >Community</a></p></figcaption>
  </figure>
  <!-- end-portfolio-item-->


  <figure class="portfolio-item eight columns nonprofit">
    <div class="img-item tooltips"><iframe width="540" height="276" src="http://www.youtube.com/embed/Yt8vnltoZ_Y" frameborder="0" allowfullscreen></iframe><span class="zoomex2" alt=""><h6>The Portland Fruit Tree Project</h6><!-- <a href="/img/portfo/mex-port09.jpg"  rel="help" title="Zoom" class="prettyPhoto zoomlink1" ><i class="icomoon-plus"></i></a> --><a href="portfolio-item.html" rel="help" title="Go to Page" class="zoomlink2" ><i class="icomoon-arrow-right-5"></i></a></span> </div>
    <figcaption><h4><a href="portfolio-item.html">The Portland Fruit Tree Project</a> </h4>
    <p>Summer 2012 - <a href="#" >Nonprofit</a></p></figcaption>
  </figure>
  <!-- end-portfolio-item-->

  <figure class="portfolio-item eight columns tech-ed">
    <div class="img-item tooltips"><img width="540" style="padding-top: 60px; padding-bottom: 20px;" src="img/masthead_small.png" alt=""><span class="zoomex2"><h6>The Portland Code School</h6><a href="img/masthead_small.png"  rel="help" title="Zoom" class="prettyPhoto zoomlink1" ><i class="icomoon-plus"></i></a><a href="portfolio-item.html" rel="help" title="Go to Page" class="zoomlink2" ><i class="icomoon-arrow-right-5"></i></a></span> </div>
    <figcaption><h4><a href="portfolio-item.html">The Portland Code School</a> </h4>
    <p>2012 - 2013 - <a href="#" >Tech Education</a></figcaption>
  </figure>
  <!-- end-portfolio-item-->

  <figure class="portfolio-item eight columns nonprofit">
    <div class="img-item tooltips"> <img width="540" src="/img/gsosw.png" alt=""><span class="zoomex2"><h6>Girl Scouts of Oregon and Southwest Washington</h6><a href="/img/gsosw.png"  rel="help" title="Zoom" class="prettyPhoto zoomlink1" ><i class="icomoon-plus"></i></a><a href="portfolio-item.html" rel="help" title="Go to Page" class="zoomlink2" ><i class="icomoon-arrow-right-5"></i></a></span> </div>
    <figcaption><h4><a href="portfolio-item.html">Girl Scouts of Oregon and Southwest Washington</a> </h4>
    <p>2010 - 2012 - <a href="#" >Nonprofit</a></p></figcaption>
  </figure>
  <!-- end-portfolio-item-->

   <figure class="portfolio-item eight columns nonprofit">
    <div class="img-item tooltips"> <img style="padding-top: 84px; padding-bottom: 20px;" src="/img/afppsu_header.png" alt=""><span class="zoomex2"><h6>Association of Fundraising Professionals</h6><a href="/img/afppsu_header.png"  rel="help" title="Zoom" class="prettyPhoto zoomlink1" ><i class="icomoon-plus"></i></a><a href="portfolio-item.html" rel="help" title="Go to Page" class="zoomlink2" ><i class="icomoon-arrow-right-5"></i></a></span> </div>
    <figcaption><h4><a href="portfolio-item.html">Association of Fundraising Professionals</a> </h4>
    <p>2012 - 2013 <a href="#" >Nonprofit</a></p></figcaption>
  </figure>
  <!-- end-portfolio-item-->

  <figure class="portfolio-item eight columns nonprofit">
    <div class="img-item tooltips"> <img height="296" style="padding-left: 94px; padding-right:34px;" src="/img/americorps-wa-logo.png" alt=""><span class="zoomex2"><h6>The Washington Reading Corps</h6><a href="/img/americorps-wa-logo.png"  rel="help" title="Zoom" class="prettyPhoto zoomlink1" ><i class="icomoon-plus"></i></a><a href="portfolio-item.html" rel="help" title="Go to Page" class="zoomlink2" ><i class="icomoon-arrow-right-5"></i></a></span> </div>
    <figcaption><h4><a href="portfolio-item.html">The Washington Reading Corps</a> </h4>
    <p>2007 - 2010 <a href="#" >Nonprofit</a></p></figcaption>
  </figure>
  <!-- end-portfolio-item-->

  <figure class="portfolio-item eight columns nonprofit">
    <div class="img-item tooltips">  <img height="296" style="padding-left: 50px;" src="/img/strategic_plan_diagram.png" alt=""><span class="zoomex2"><h6>Oregon Volunteers</h6><a href="/img/strategic_plan_diagram.png"  rel="help" title="Zoom" class="prettyPhoto zoomlink1" ><i class="icomoon-plus"></i></a><a href="portfolio-item.html" rel="help" title="Go to Page" class="zoomlink2" ><i class="icomoon-arrow-right-5"></i></a></span> </div>
    <figcaption><h4><a href="portfolio-item.html">Oregon Volunteers</a> </h4>
    <p>Spring 2012 - <a href="#" >Nonprofit</a></p></figcaption>
  </figure>
  <!-- end-portfolio-item-->
  <figure class="portfolio-item eight columns community">
    <div class="img-item tooltips"> <img height="296" src="/img/oral_history2.png" alt=""><span class="zoomex2"><h6>Olympia Historical Society</h6><a href="/img/oral_history2.png"  rel="help" title="Zoom" class="prettyPhoto zoomlink1" ><i class="icomoon-plus"></i></a><a href="portfolio-item.html" rel="help" title="Go to Page" class="zoomlink2" ><i class="icomoon-arrow-right-5"></i></a></span> </div>
    <figcaption><h4><a href="portfolio-item.html">Olympia Historical Society</a> </h4>
    <p>2006 -<a href="#" >Community</a></p></figcaption>
  </figure>
  <!-- end-portfolio-item-->

  <figure class="portfolio-item eight columns community">
    <div class="img-item tooltips"> <iframe class="featurette-image pull-right" width="540" height="296" src="http://www.youtube.com/embed/yRpSexh5gc0" frameborder="0" allowfullscreen alt=""></iframe><span class="zoomex2"><h6>Oral History</h6><a href="/img/oral_history.jpg"  rel="help" title="Zoom" class="prettyPhoto zoomlink1" ><i class="icomoon-plus"></i></a><a href="portfolio-item.html" rel="help" title="Go to Page" class="zoomlink2" ><i class="icomoon-arrow-right-5"></i></a></span> </div>
    <figcaption><h4><a href="portfolio-item.html">Oral History</a> </h4>
    <p>2005 - <a href="#" >Community</a></p></figcaption>
  </figure>
  <!-- end-portfolio-item-->

</div>
<!-- end-portfolio -->
<!-- <div class="sixteen columns">
  <div class="pagination2">
    <ul>
      <li class="disabled"><a href="#">&laquo;</a></li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </div>
</div> -->
<hr class="vertical-space2">
<script src="isotope/isotope.js"></script>
<script src="isotope/isotope-custom.js"></script>
<script src="js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>