---
layout: "inner"
title: "Portfolio"
---

<hr class="vertical-space1">
<nav class="primary clearfix">
  <ul>
    <li><a href="#" class="selected" data-filter="*">All</a></li>
    <li><a class="" href="#" data-filter=".tech-ed">Tech Ed</a></li>
    <li><a class="" href="#" data-filter=".nonprofit">Nonprofit</a></li>
    <!-- <li><a class="" href="#" data-filter=".video">Video</a></li> -->
    <!-- <li><a class="" href="#" data-filter=".print">Print </a></li> -->
  </ul>
</nav>
<div class="portfolio">
  <figure class="portfolio-item eight columns nonprofit">
    <div class="img-item tooltips"><iframe width="540" height="296" src="http://www.youtube.com/embed/Yt8vnltoZ_Y" frameborder="0" allowfullscreen></iframe><span class="zoomex2" alt=""><h6>Save the World</h6><a href="/img/portfo/mex-port09.jpg"  rel="help" title="Zoom" class="prettyPhoto zoomlink1" ><i class="icomoon-plus"></i></a><a href="portfolio-item.html" rel="help" title="Go to Page" class="zoomlink2" ><i class="icomoon-arrow-right-5"></i></a></span> </div>
    <figcaption><h4><a href="portfolio-item.html">The Portland Fruit Tree Project</a> </h4>
    <p>Summer 2012 - <a href="#" >Nonprofit</a></p></figcaption>
  </figure>
  <!-- end-portfolio-item-->
  <figure class="portfolio-item eight columns tech-ed">
    <div class="img-item tooltips"><img src="/img/portfo/mex-port12.jpg" alt=""><span class="zoomex2"><h6>Mall Admirer</h6><a href="/img/portfo/mex-port12.jpg"  rel="help" title="Zoom" class="prettyPhoto zoomlink1" ><i class="icomoon-plus"></i></a><a href="portfolio-item.html" rel="help" title="Go to Page" class="zoomlink2" ><i class="icomoon-arrow-right-5"></i></a></span> </div>
    <figcaption><h4><a href="portfolio-item.html">Mall Admirer</a> </h4>
    <p>10 MAY 2013 - <a href="#" >DESIGN</a>, <a href="#" >video</a></p></figcaption>
  </figure>
  <!-- end-portfolio-item-->
  <figure class="portfolio-item eight columns tech-ed">
    <div class="img-item tooltips"> <img src="/img/portfo/mex-port01.jpg" alt=""><span class="zoomex2"><h6>Spoilt for choice</h6><a href="/img/portfo/mex-port01.jpg"  rel="help" title="Zoom" class="prettyPhoto zoomlink1" ><i class="icomoon-plus"></i></a><a href="portfolio-item.html" rel="help" title="Go to Page" class="zoomlink2" ><i class="icomoon-arrow-right-5"></i></a></span> </div>
    <figcaption><h4><a href="portfolio-item.html">Spoilt for choice</a> </h4>
    <p>10 MAY 2013 - <a href="#" >DESIGN</a>, <a href="#" >Print</a></p></figcaption>
  </figure>
  <!-- end-portfolio-item-->
  <figure class="portfolio-item eight columns non-profit tech-ed">
    <div class="img-item tooltips"> <img src="/img/portfo/mex-port04.jpg" alt=""><span class="zoomex2"><h6>Busy girl</h6><a href="/img/portfo/mex-port04.jpg"  rel="help" title="Zoom" class="prettyPhoto zoomlink1" ><i class="icomoon-plus"></i></a><a href="portfolio-item.html" rel="help" title="Go to Page" class="zoomlink2" ><i class="icomoon-arrow-right-5"></i></a></span> </div>
    <figcaption><h4><a href="portfolio-item.html">Busy girl</a> </h4>
    <p>10 MAY 2013 - <a href="#" >DESIGN</a>, <a href="#" >Print</a></p></figcaption>
  </figure>
  <!-- end-portfolio-item-->
  <figure class="portfolio-item eight columns tech-ed">
    <div class="img-item tooltips"> <img src="/img/portfo/mex-port05.jpg" alt=""><span class="zoomex2"><h6>Leader</h6><a href="/img/portfo/mex-port05.jpg"  rel="help" title="Zoom" class="prettyPhoto zoomlink1" ><i class="icomoon-plus"></i></a><a href="portfolio-item.html" rel="help" title="Go to Page" class="zoomlink2" ><i class="icomoon-arrow-right-5"></i></a></span> </div>
    <figcaption><h4><a href="portfolio-item.html">Leader</a> </h4>
    <p>10 MAY 2013 - <a href="#" >DESIGN</a>, <a href="#" >Print</a></p></figcaption>
  </figure>
  <!-- end-portfolio-item-->
  <figure class="portfolio-item eight columns tech-ed">
    <div class="img-item tooltips"> <img src="/img/portfo/mex-port06.jpg" alt=""><span class="zoomex2"><h6>Business Points</h6><a href="/img/portfo/mex-port06.jpg"  rel="help" title="Zoom" class="prettyPhoto zoomlink1" ><i class="icomoon-plus"></i></a><a href="portfolio-item.html" rel="help" title="Go to Page" class="zoomlink2" ><i class="icomoon-arrow-right-5"></i></a></span> </div>
    <figcaption><h4><a href="portfolio-item.html">Business Points</a> </h4>
    <p>10 MAY 2013 - <a href="#" >DESIGN</a>, <a href="#" >Print</a></p></figcaption>
  </figure>
  <!-- end-portfolio-item-->
  <figure class="portfolio-item eight columns tech-ed non-profit">
    <div class="img-item tooltips">  <img src="/img/portfo/mex-port07.jpg" alt=""><span class="zoomex2"><h6>Individual</h6><a href="/img/portfo/mex-port07.jpg"  rel="help" title="Zoom" class="prettyPhoto zoomlink1" ><i class="icomoon-plus"></i></a><a href="portfolio-item.html" rel="help" title="Go to Page" class="zoomlink2" ><i class="icomoon-arrow-right-5"></i></a></span> </div>
    <figcaption><h4><a href="portfolio-item.html">Individual</a> </h4>
    <p>10 MAY 2013 - <a href="#" >DESIGN</a>, <a href="#" >Print</a></p></figcaption>
  </figure>
  <!-- end-portfolio-item-->
  <figure class="portfolio-item eight columns non-profit">
    <div class="img-item tooltips"> <img src="/img/portfo/mex-port08.jpg" alt=""><span class="zoomex2"><h6>Hello Summer</h6><a href="/img/portfo/mex-port08.jpg"  rel="help" title="Zoom" class="prettyPhoto zoomlink1" ><i class="icomoon-plus"></i></a><a href="portfolio-item.html" rel="help" title="Go to Page" class="zoomlink2" ><i class="icomoon-arrow-right-5"></i></a></span> </div>
    <figcaption><h4><a href="portfolio-item.html">Hello Summer</a> </h4>
    <p>10 MAY 2013 - <a href="#" >DESIGN</a>, <a href="#" >Print</a></p></figcaption>
  </figure>
  <!-- end-portfolio-item-->
</div>
<!-- end-portfolio -->
<div class="sixteen columns">
  <div class="pagination2">
    <ul>
      <li class="disabled"><a href="#">&laquo;</a></li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </div>
</div>
<hr class="vertical-space2">
<script src="isotope/isotope.js"></script>
<script src="isotope/isotope-custom.js"></script>
<script src="js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>