---
layout: "application"
title: "Home"
---

  <section class="container page-content" >
    <hr class="vertical-space2">
    <div class="eleven columns portfolio-item">
    <h1>Code for Portland</h1>
    <h3> Maecenas sed justo varius velit imperdiet bibendum. Vivamus nec sapien massa, a imperdiet diam.</h3>
    </div>
    <section class="eleven columns">
      <article>
        <p><img src="/img/code_for_portland.png" alt=""><br>
          Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes. Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.<br>
          Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor</p>
        <br class="clear" />
        <div class="six columns">
          <h4>Penatibus et magnis dis parturient montes consectetuer adipiscing</h4>
          <br>
          <p>Adipiscing elit commodo ligula eget dolor Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor Cum sociis natoque penatibus et magnis dis parturient montes. Lorem ipsum dolor sit amet nec penatibus et magnis dis parturient montes.</p>
        </div>
        <div class="four columns blog-q" > <br>
          <p><em>Cum sociis natoque penatibus et magnis dis parturient montes. dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.<br>
            Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit</em> </p>
        </div>
        <br class="clear" />
        <p class="blog-inpic"><img src="images/portfo/port1.jpg" alt=""> Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.<br>
          Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes. Lorem ipsum dolor sit amet nec, consectetuer adipiscing elit. Aenean commodo ligula commodo.</p>
      </article>
    </section>
    <aside class="four columns offset-by-one sidebar">
      <div class="portfolio-item-detail-box">
      Date: 21 October 2013
      <hr>
      Cat: <a href="#" >Design</a>, <a href="#" >Video</a>

      <h4 class="subtitle">Project Links</h4>
      <div class="listbox1">
        <ul>
          <li><a href="#">Company </a></li>
          <li><a href="#">News</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Other </a></li>
        </ul>
      </div>
      <!-- end-listbox1 -->
      <br class="clear">
      <!-- <h4 class="subtitle">Text Widget</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor<a href="#"> exercitation</a> ut labore et dolore magna aliqua. Ut enim ad</p> -->
      <br class="clear">
      </div>
    </aside>
    <!-- end-sidebar-->
    <hr class="vertical-space2">
  </section>
  <!-- container -->



